In [39]:
import pandas as pd
df = pd.read_csv('synthetic_invoices.csv')



print("Sample data:")
display(df.head())

print("\nDataset shape:", df.shape)

print("\nColumn data types:")
print(df.dtypes)

print("\nMissing values:")
print(df.isnull().sum())

Sample data:

,Date,Time,Vendor Name,Invoice No,Amount,Department,Description
0,2025-04-28,11:25:42,White Inc,INV-200,2701.60,Finance,Travel expenses
1,2025-04-15,09:09:50,White Inc,INV-170,2318.80,HR,Travel expenses
2,2025-04-08,02:41:02,"Velazquez, Santos and Davenport",INV-171,784.41,HR,
3,2025-05-15,00:18:33,"Young, Murphy and Melton",INV-129,604.33,HR,Office supplies
4,2025-06-07,12:41:31,"Mendoza, Aguirre and Reed",INV-121,4242.45,Operations,Training

Dataset shape: (1000, 7)

Column data types:
Date            object
Time            object
Vendor Name     object
Invoice No      object
Amount         float64
Department      object
Description     object
dtype: object

Missing values:
Date            0
Time            0
Vendor Name     0
Invoice No      0
Amount          0
Department      0
Description    76
dtype: int64

In [40]:
# Manual farud check

import pandas as pd

# Convert Date and Time columns to proper types 
df["Date"]= pd.to_datetime(df["Date"])
df["Time"]= pd.to_datetime(df["Time"],format='%H:%M:%S').dt.time

print("Manual fraud checks starting...\n")

# 1. Duplicate Invoices
  
#  Show invoice numbers with their counts
invoice_counts = df['Invoice No'].value_counts()

#  Filter to only invoice numbers that appear more than once
duplicate_summary = invoice_counts[invoice_counts > 1]

print("\n Duplicate Invoices Summary:")
display(duplicate_summary)


# 2. Round or suspiciously high amounts
round_amounts = df[df["Amount"] % 1000 == 0]
print(" Round Amounts:")
display(round_amounts)

high_value_txns = df[df['Amount'] > 75000]
print("\n High-Value Transactions (> 75,000):")
display(high_value_txns)
 
# 3. Off-hour transactions (before 6 AM or after 8 PM)
off_hour_txns = df[
    (df["Time"]< pd.to_datetime('06:00').time()) |
    (df["Time"]>pd.to_datetime('20:00').time())]
print("\n Off-Hour Transactions:")
display(off_hour_txns)

# 4. Weekend transactions
df['DayOfWeek'] = df['Date'].dt.dayofweek  # Monday = 0, Sunday = 6
weekend_txns = df[df['DayOfWeek'] >= 5]
print("\n Weekend Transactions:")
display(weekend_txns)

# 5. Vendors used by multiple departments
vendor_dept = df.groupby(['Vendor Name'])['Department'].nunique().reset_index()
vendor_multiple_depts = vendor_dept[vendor_dept['Department'] > 1]
print("\n Vendors Used by Multiple Departments:")
display(vendor_multiple_depts)

# 6. Frequent payments to same vendor (more than 5 transactions)
vendor_counts = df['Vendor Name'].value_counts()
frequent_vendors = vendor_counts[vendor_counts > 5]
print("\n Vendors with Frequent Transactions (>5):")
display(frequent_vendors)

# 7. Short or missing descriptions
short_desc_txns = df[df['Description'].str.len() < 5]
print("\n Short or Missing Descriptions:")
display(short_desc_txns)

print("\n Manual fraud checks complete!")

Manual fraud checks starting...


 Duplicate Invoices Summary:

Invoice No
INV-121    16
INV-118    16
INV-177    15
INV-170    15
INV-116    15
           ..
INV-139     5
INV-141     5
INV-102     4
INV-188     4
INV-197     4
Name: count, Length: 101, dtype: int64

 Round Amounts:

,Date,Time,Vendor Name,Invoice No,Amount,Department,Description
18,2025-06-22,05:18:09,Gonzalez-Santiago,INV-115,5000.0,HR,Equipment
32,2025-06-06,07:37:58,"Friedman, Adkins and Lee",INV-127,50000.0,Finance,Office supplies
34,2025-06-12,17:53:58,"Russo, Fitzgerald and Guzman",INV-144,2000.0,Marketing,Training
38,2025-06-08,08:47:09,Young Inc,INV-164,10000.0,Operations,License renewal
41,2025-06-13,00:10:21,"Russo, Fitzgerald and Guzman",INV-194,10000.0,Operations,Office supplies
...,...,...,...,...,...,...,...
969,2025-05-25,09:54:49,"Russo, Fitzgerald and Guzman",INV-177,3000.0,Operations,Software purchase
988,2025-06-15,06:45:48,Hobbs Inc,INV-184,100000.0,Finance,Maintenance
991,2025-06-10,01:11:13,Dunn-Harris,INV-111,2000.0,Marketing,Consulting fee
992,2025-05-27,12:00:51,"Friedman, Adkins and Lee",INV-178,0.0,Marketing,Utility bill
998,2025-04-04,07:11:49,Smith-Lyons,INV-140,50000.0,Marketing,Maintenance

 High-Value Transactions (> 75,000):

,Date,Time,Vendor Name,Invoice No,Amount,Department,Description
68,2025-04-07,20:27:16,"Young, Murphy and Melton",INV-153,100000.0,Finance,Utility bill
77,2025-06-22,14:14:52,Marks Ltd,INV-109,100000.0,Finance,Software purchase
114,2025-05-14,16:52:05,Murray Inc,INV-142,100000.0,HR,License renewal
243,2025-05-08,04:04:41,"Salinas, Aguirre and Wilson",INV-164,100000.0,Marketing,Travel expenses
285,2025-05-05,21:09:16,Marks Ltd,INV-172,100000.0,Marketing,
341,2025-06-01,18:00:41,"Hunter, Garcia and Acevedo",INV-192,100000.0,Operations,Office supplies
370,2025-06-27,12:50:15,Smith-Lyons,INV-199,100000.0,Operations,
458,2025-06-20,02:48:40,Hobbs Inc,INV-131,100000.0,Finance,Equipment
546,2025-06-15,02:42:19,"Russo, Fitzgerald and Guzman",INV-198,100000.0,Finance,Software purchase
638,2025-05-22,02:48:30,"Moss, Hale and Cardenas",INV-116,100000.0,Marketing,Equipment
684,2025-05-30,21:09:08,"Salinas, Aguirre and Wilson",INV-132,100000.0,IT,Maintenance
687,2025-04-22,07:08:25,"Friedman, Adkins and Lee",INV-198,100000.0,Finance,Travel expenses
691,2025-05-11,07:02:39,White Inc,INV-156,100000.0,IT,Utility bill
832,2025-04-18,23:16:43,"Young, Murphy and Melton",INV-157,100000.0,IT,NaN
988,2025-06-15,06:45:48,Hobbs Inc,INV-184,100000.0,Finance,Maintenance

 Off-Hour Transactions:

,Date,Time,Vendor Name,Invoice No,Amount,Department,Description
2,2025-04-08,02:41:02,"Velazquez, Santos and Davenport",INV-171,784.41,HR,
3,2025-05-15,00:18:33,"Young, Murphy and Melton",INV-129,604.33,HR,Office supplies
8,2025-05-02,21:37:34,"Walters, Newton and Patterson",INV-101,2875.61,HR,Training
15,2025-05-17,20:15:09,"Young, Murphy and Melton",INV-140,2101.82,HR,License renewal
18,2025-06-22,05:18:09,Gonzalez-Santiago,INV-115,5000.00,HR,Equipment
...,...,...,...,...,...,...,...
985,2025-06-14,05:17:03,"Walters, Newton and Patterson",INV-145,3091.37,Finance,Equipment
987,2025-06-05,00:54:56,"Mendoza, Aguirre and Reed",INV-199,3846.64,Operations,NaN
991,2025-06-10,01:11:13,Dunn-Harris,INV-111,2000.00,Marketing,Consulting fee
993,2025-06-30,01:26:38,"Velazquez, Santos and Davenport",INV-131,3875.79,IT,Utility bill
995,2025-06-05,22:10:10,Combs-Fitzpatrick,INV-171,2476.59,IT,

 Weekend Transactions:

,Date,Time,Vendor Name,Invoice No,Amount,Department,Description,DayOfWeek
4,2025-06-07,12:41:31,"Mendoza, Aguirre and Reed",INV-121,4242.45,Operations,Training,5
9,2025-06-22,13:41:13,"Friedman, Adkins and Lee",INV-169,1665.12,Finance,NaN,6
12,2025-05-18,09:01:47,"Walters, Newton and Patterson",INV-161,4985.66,IT,Software purchase,6
15,2025-05-17,20:15:09,"Young, Murphy and Melton",INV-140,2101.82,HR,License renewal,5
18,2025-06-22,05:18:09,Gonzalez-Santiago,INV-115,5000.00,HR,Equipment,6
...,...,...,...,...,...,...,...,...
983,2025-05-24,01:47:50,Combs-Fitzpatrick,INV-161,4177.33,Operations,Maintenance,5
985,2025-06-14,05:17:03,"Walters, Newton and Patterson",INV-145,3091.37,Finance,Equipment,5
988,2025-06-15,06:45:48,Hobbs Inc,INV-184,100000.00,Finance,Maintenance,6
989,2025-04-27,11:06:20,"Walters, Newton and Patterson",INV-154,4501.47,Operations,Office supplies,6
990,2025-04-12,14:23:38,Hobbs Inc,INV-188,2724.27,Finance,NaN,5

 Vendors Used by Multiple Departments:

                        Vendor Name  Department
0                 Combs-Fitzpatrick           5
1                       Dunn-Harris           5
2          Friedman, Adkins and Lee           5
3                 Gonzalez-Santiago           5
4                         Hobbs Inc           5
5        Hunter, Garcia and Acevedo           5
6   Jefferson, Gallagher and Tucker           5
7                       Lucas-Smith           5
8                         Marks Ltd           5
9         Mendoza, Aguirre and Reed           5
10          Moss, Hale and Cardenas           5
11                       Murray Inc           5
12     Russo, Fitzgerald and Guzman           5
13      Salinas, Aguirre and Wilson           5
14                      Smith-Lyons           5
15  Velazquez, Santos and Davenport           5
16    Walters, Newton and Patterson           5
17                        White Inc           5
18                        Young Inc           5
19         Young, Murphy and Melton           5

 Vendors with Frequent Transactions (>5):

Vendor Name
Jefferson, Gallagher and Tucker    69
Young, Murphy and Melton           61
Combs-Fitzpatrick                  59
Friedman, Adkins and Lee           57
Murray Inc                         56
Walters, Newton and Patterson      54
Lucas-Smith                        54
Velazquez, Santos and Davenport    53
Young Inc                          50
Mendoza, Aguirre and Reed          48
Hunter, Garcia and Acevedo         48
White Inc                          47
Russo, Fitzgerald and Guzman       47
Marks Ltd                          47
Smith-Lyons                        46
Hobbs Inc                          44
Salinas, Aguirre and Wilson        44
Moss, Hale and Cardenas            42
Dunn-Harris                        40
Gonzalez-Santiago                  34
Name: count, dtype: int64

 Short or Missing Descriptions:

,Date,Time,Vendor Name,Invoice No,Amount,Department,Description,DayOfWeek
2,2025-04-08,02:41:02,"Velazquez, Santos and Davenport",INV-171,784.41,HR,,1
5,2025-06-19,15:05:20,White Inc,INV-135,2921.49,HR,,3
23,2025-06-15,13:04:12,Young Inc,INV-179,4010.68,Finance,,6
45,2025-04-30,20:55:12,"Hunter, Garcia and Acevedo",INV-193,4000.00,Operations,,2
52,2025-05-11,08:27:30,Lucas-Smith,INV-190,1482.30,Operations,,6
...,...,...,...,...,...,...,...,...
956,2025-05-11,18:37:09,Lucas-Smith,INV-161,3926.02,Operations,,6
962,2025-06-27,22:42:51,Lucas-Smith,INV-142,2834.97,Marketing,,4
982,2025-04-27,22:06:15,Lucas-Smith,INV-196,2725.51,Finance,,6
994,2025-04-16,13:23:03,"Salinas, Aguirre and Wilson",INV-186,4099.50,Operations,,2
995,2025-06-05,22:10:10,Combs-Fitzpatrick,INV-171,2476.59,IT,,3

 Manual fraud checks complete!

In [41]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM

# Load dataset
df = pd.read_csv('synthetic_invoices.csv', parse_dates=['Date'])
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

print("Data loaded:", df.shape)

# Optional manual fraud checks
print("\n Manual fraud checks (optional):")

# Check for duplicate invoices
invoice_counts = df['Invoice No'].value_counts()
duplicates = invoice_counts[invoice_counts > 1]
print(f"Duplicate invoices: {len(duplicates)}")

# Check for high-value transactions
high_value_txns = df[df['Amount'] > 75000]
print(f"High-value transactions (>75k): {len(high_value_txns)}")

# Check for off-hour transactions
off_hour_txns = df[
    (df['Time'] < pd.to_datetime('06:00').time()) |
    (df['Time'] > pd.to_datetime('20:00').time())
]
print(f"Off-hour transactions: {len(off_hour_txns)}")

# Check for weekend transactions
df['DayOfWeek'] = df['Date'].dt.dayofweek  # Monday = 0, Sunday = 6
weekend_txns = df[df['DayOfWeek'] >= 5]
print(f"Weekend transactions: {len(weekend_txns)}")

print("Manual checks done. Proceeding to advanced anomaly detection.\n")

# Add engineered features
df['SecondsSinceMidnight'] = df['Time'].apply(lambda x: x.hour * 3600 + x.minute * 60 + x.second)

# Sort data for rolling spend
df = df.sort_values(['Vendor Name', 'Date'])

# Calculate rolling total spend per vendor over last 30 days
df['RollingVendorSpend'] = (
    df.groupby('Vendor Name')['Amount']
    .transform(lambda x: x.rolling(window=30, min_periods=1).sum())
)

# Calculate deviation from vendor average spend
vendor_avg = df.groupby('Vendor Name')['Amount'].transform('mean')
df['InvoiceDeviation'] = df['Amount'] / vendor_avg

# One-hot encode categorical features
vendor_dummies = pd.get_dummies(df['Vendor Name'], prefix='Vendor', drop_first=True)
dept_dummies = pd.get_dummies(df['Department'], prefix='Dept', drop_first=True)

# Combine all features
features = pd.concat([
    df[['Amount', 'DayOfWeek', 'SecondsSinceMidnight', 'RollingVendorSpend', 'InvoiceDeviation']],
    vendor_dummies,
    dept_dummies
], axis=1)

print("Final features shape:", features.shape)

# Isolation Forest model
iso_forest = IsolationForest(contamination=0.05, random_state=42)
iso_forest.fit(features)
df['IF_Score'] = iso_forest.decision_function(features) * -1
df['Anomaly_IF'] = iso_forest.predict(features)

# Local Outlier Factor model
lof_model = LocalOutlierFactor(n_neighbors=20, contamination=0.05)
df['Anomaly_LOF'] = lof_model.fit_predict(features)
df['LOF_Score'] = lof_model.negative_outlier_factor_ * -1

# One-Class SVM model
ocsvm = OneClassSVM(kernel='rbf', nu=0.05, gamma='scale')
ocsvm.fit(features)
df['OCSVM_Score'] = ocsvm.decision_function(features) * -1
df['Anomaly_OCSVM'] = ocsvm.predict(features)

# Combine scores into a single risk score
df['FraudRiskScore'] = df[['IF_Score', 'LOF_Score', 'OCSVM_Score']].mean(axis=1)
df['FraudRiskScore'] = 100 * (
    (df['FraudRiskScore'] - df['FraudRiskScore'].min()) /
    (df['FraudRiskScore'].max() - df['FraudRiskScore'].min())
)

print("\n Fraud Risk Score calculated.")
print(df[['Invoice No', 'Vendor Name', 'FraudRiskScore']].head())

# Save results for Power BI
df.to_csv('invoices_with_risk_score.csv', index=False)
print("\n Results saved to invoices_with_risk_score.csv")
print(f"High risk invoices (>70): {len(df[df['FraudRiskScore'] > 70])}")

Data loaded: (1000, 7)

 Manual fraud checks (optional):
Duplicate invoices: 101
High-value transactions (>75k): 15
Off-hour transactions: 394
Weekend transactions: 308
Manual checks done. Proceeding to advanced anomaly detection.

Final features shape: (1000, 28)

 Fraud Risk Score calculated.
    Invoice No        Vendor Name  FraudRiskScore
256    INV-165  Combs-Fitzpatrick       23.380643
705    INV-130  Combs-Fitzpatrick       20.136581
778    INV-118  Combs-Fitzpatrick       14.490713
864    INV-177  Combs-Fitzpatrick       42.593841
717    INV-196  Combs-Fitzpatrick       13.604546

 Results saved to invoices_with_risk_score.csv
High risk invoices (>70): 1